{% extends "layout.twig" %}

{% block content %}


<header>
    <div class="wrapper clearfix">
        <div class="infoheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<section>
  {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"MAAK AFSPRAAK","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '20','showBtn': true})|raw}}
</section>

<div class="main wrapper clearfix">
  {{zone('main')|raw}}
</div>  

<!-- DESIGNS / DEVICES !-->
<section class="designs-devices">
    <div class="res-col columns span-50-50">
        <div class="column span-50">
            <!-- DESIGNS !-->
            <section class="grey designs">
                <div class="wrapper sml">
                    <h2 class="wht-shad">Every site looks great</h2>
                    <h3 class="wht-shad">Our professional designers make sure that every site is something to be proud of. New designs are released every 2 weeks and included free with our business plan.</h3>
                    <div class="template-slider">
                        <div class="controls">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="slides">
                            <div class="slide one"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="column span-50">
            <!-- DEVICES !-->
            <section class="devices">
                <div class="wrapper sml">
                    <h2 class="pink">Mobile &amp; tablet site included</h2>
                    <h3 class="white">We think everyone deserves a site that adapts to mobile and tablet devices. Change between full screen, mobile and tablet views without missing a beat. </h3>
                </div>
                <div class="tabs-2">
                    <div class="slide">
                        <input type="radio" id="tab-1" name="tab-group-1" checked>
                        <label for="tab-1">Mobile</label>
                        <div class="tab-content sml">
                            <div class="iphone">
                                <h4>Look both ways</h4>
                                <p>Rotate each device 90 degrees and see your content adapt instantly.</p>
                                <img src="{{asset('images/mobile-img.png')}}">
                            </div>
                       </div> 
                    </div>
                    <div class="slide">
                       <input type="radio" id="tab-2" name="tab-group-1">
                       <label for="tab-2">Tablet</label>
                       <div class="tab-content sml">
                            <div class="ipad clearfix">
                                <hgroup>
                                    <h4>Tablet view</h4>
                                    <p class="desktop">Tablets are the fastest growing device for web browsing so it's important to check your site looks it's best.</p>
                                    <p class="tablet">Tablets are the fastest growing device for web browsing.</p>
                                </hgroup>
                                <img src="{{asset('images/ipad.png')}}">
                            </div>
                       </div> 
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
           <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h3>Lorem Ipsum Dolor</h3>"})|raw}}
                {{widget('profile', 'footercolumn2profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
           </div>
           <div class="column columns-two-right">
                {{widget('content', 'footercolumn2content1', {"content":"<h3>Pulvinar Vitae</h3>"})|raw}}
                {{widget('profile', 'footercolumn2socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
           </div>
        </div>
    </div>
</footer>


{% endblock %}
